- let headerNavMenu = ['О нас','Услуги','Вакансии','Новости','Соглашения']

header.header
    .header-wrapper.container 
        //- include ../modules/logo     
        ul.header-nav-list
            for value in headerNavMenu  
                li.header-nav-list-item 
                    a(href="").header-nav-link=value
        //- include ../modules/button         
        //- +button('войти','button-entry')
        //- +button('зарегистрироваться','button-sing-up')